In [12]:
import pandas as pd
from datasets import load_two_moon

bunch = load_two_moon()
nd_X, nd_y = bunch.data, bunch.target
X = pd.DataFrame(nd_X)
y = pd.Series(nd_y)

X.head()

          0         1
0 -0.582656  0.812719
1  0.780417 -0.475594
2 -0.240103  0.970747
3  0.524541 -0.379738
4  0.695837  0.718200

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
from mlp.mlp import MLP

cls_mlp = MLP(eta=0.4)
cls_mlp.fit(X_train, y_train)
cls_mlp.score(X_test, y_test)

0.0